body {
	font-family: 'Open Sans', sans-serif;
	color: #7581a1;
	font-size: 16px;
	line-height: 26px;
}
a{
	text-decoration: none;
}

/* page-header */

h1 {
	font-size: 80px;
	font-weight: 600;
	color: #192b59;
}
.nav {
	font-size: 12px;
	font-weight: 700;
	color: #6e7ea9;
	text-transform: uppercase;
}
.btn-free{
	color: #fff;
	font-weight: 400;
	background-color:#1085e4;
}

/* page-grid */

.grid h2{
	font-size: 40px;
	font-weight: 700;
	color: #192b59;
}
.grid h2 span{
	font-size: 14px;
	text-transform: uppercase;
	color: #1085e4;
	display: block;
}
.grid-item h3{
	font-size: 20px;
	font-weight: 600;
	color: #192b59;
}
.grid-item a{
	font-size: 14px;
	font-weight: 600;
	color: #1085e4;
}
.grid-after {
	font-size: 12px;
	font-weight: 400;
	color: #1085e4;
}
.grid-after span{
	font-size: 16px;
	font-weight: 700;
	color: #192b59;
}

/* page-subscribe */

.page-subscribe{
	background-color: #12224b;
	background-image: linear-gradient(-240deg, #0a2090 0%, #2377cd 100%);
}
.page-subscribe h2{
	font-size: 50px;
	font-weight: 400;
	color: #fff;
}
.page-subscribe h2 span{
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
	color: #00bffe;
	display: block;
}
.page-subscribe p{
	font-size: 18px;
	color: #dfe8ff;
}

/* page-softwere */

.page-softwere h2{
	font-size: 50px;
	font-weight: 400;
	color: #192b59;
}
.page-softwere dt{
	font-weight: 700;
	color: #5a6789;
}

/* page-stat */

.page-stat{
	text-align: center;
}
.page-stat h2{
	font-size: 50px;
	font-weight: 400;
	color: #192b59;
}
.page-stat h2 span{
	font-size: 16px;
	font-weight: 400;
	text-transform: uppercase;
	color: #1085e4;
	display: block;
}
.stat {
	display: flex;
	justify-content: space-around;
}
.stat span{
	font-size: 60px;
	color: #bacbdc;
	display: block;
}
.stat li{
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
	color: #1085e4;
}

/* page-app */

.page-app h2{
	font-size: 50px;
	font-weight: 400;
	color: #192b59;
}
.page-app-up{
	font-size: 16px;
	font-weight: 700;
	color: #192b59;
	text-transform: uppercase;
}

/* page-analytics */

.page-analytics h2{
	font-size: 50px;
	font-weight: 400;
	color: #192b59;
}
.page-analytics a{
	font-size: 12px;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
	background-color: #1085e4;
}

/* page-analytics2 */

.page-analytics2 h2{
	font-size: 50px;
	font-weight: 400;
	color: #192b59;
}
.page-analytics2 a{
	font-size: 12px;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
	background-color: #1085e4;
}

/* page-screen */

.page-screen{
	text-align: center;
}

.page-screen h2{
	font-size: 40px;
	color: #192b59;
}
.page-screen h2 span{
	font-size: 18px;
	line-height: 90px;
	text-transform: uppercase;
	color: #1085e4;
	display: block;
}